.vscode/**
src/**
webviews/**
**/*.map
**/__mocks__/**
**/tests/**
.gitignore
tsconfig.json
vsc-extension-quickstart.md
**/*.map
**/*.ts
**/tsconfig.json
.eslintrc.json
yarn.lock
yarn-error.log
.github/**
node_modules
rollup.config.js
!node_modules/@mk_dir98/vscode-jest/out